  body {
          padding: 16px;
          margin-top: 30px;
          background-color:#fff;
          font-size: 14px;
          font-family: system-ui, -apple-system, system-ui, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif;
        }
        h1, h2, h3, p, pre {
          margin: 15px;
        }
        .comment {
          margin-top: 7px;
          word-wrap: break-word;
          background-color:#fff6d9;
          border-radius: 3px;
          border: 1px solid #efdaa3;
        }
        .reply {
          margin-top: 7px;
          word-wrap: break-word;
          background-color:#fff;
          border: 1px solid #d8dcde;
        }
        img {
          max-width: 100%;
        }
        .top-bar-aptp {
          position:fixed;
          left: 0px;
          top: 10px;
          width: 100%;
          padding: 15px 0;
          margin-top: -10px;
          margin-bottom: 0;
          overflow: hidden;
          background-color:#f7f7f7;
          border-bottom: 1px solid #e9ebed
        }
        a:link{
          text-decoration: none;
          color: #1f73b7;
        }
        a:visited {
          text-decoration: none;
        }
        .ticket-preview-time {
          float: right;
        }
        .ticket-preview-author {
          visibility: hidden;
          font-weight: bold;
        }
        .subhead {
          margin-top: 30px;
        }
